<!DOCTYPE html>
<html lang="en">

<!-- TODO: do i need the body tag? -->
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <script>
    function attachProfileLinksToReviewHeader() {
      const popupSelector = $("#real-reviews-pop-up");
      const yotpoReviews = $("div.yotpo-review.yotpo-regular-box");
      yotpoReviews.each(function (_, _) {
        const reviewId = $(this).attr("data-review-id");
        const requestUrl = popupSelector.attr("data-url") + '/reviewer-profile/' + reviewId;
        const yotpoReviewHeaderDiv = $(this).find("div.yotpo-header");
        yotpoReviewHeaderDiv.click(function () {
          popupSelector.empty();
          popupSelector.append("Loading...");
          popupSelector.modal();
          $.ajax({
            url: requestUrl,
            type: 'GET',
            headers: { 'Access-Control-Allow-Origin': '*' },
            dataType: "html",
            success: function (html) {
              popupSelector.empty();
              popupSelector.append(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
              console.log(xhr);
              popupSelector.empty();
              popupSelector.append("Something went wrong...");
            }
          });
        });
        yotpoReviewHeaderDiv.css('cursor', 'pointer');
      });
    }
    window.onload = attachProfileLinksToReviewHeader;
  </script>
</body>