img { 
    max-width: 100%;
    display: block;
    height: auto;
}

.profile-block { 
    max-width: 800px;
}

.profile-title { 
    font-size: 32px; 
    position: relative;
    padding-bottom: 2%;
}

.checked { 
    color: orange;
}

.gray-text { 
    color: #C0C0C0;
}

.review-list { 
    margin: 0;
    list-style-type: none;
    overflow-y:auto;
    height: 100%;
    width: 100%;
}

.review-list li:first-child { 
    border-top: solid 2px #eef2f5;
}

.review-list li {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0; 
    padding: 2% 0 6% 0; 
    list-style: none;
    border-bottom: solid 2px #eef2f5;
}

.review-block {
    position: relative;
    padding: 0; 
}

/* .review-author { 
    display: inline-block;
    width: 8%;
    position: relative;
}
.review-author-vcard { 
    position: relative;
    display: inline-block;
    width: 100%;
}

.review-author-vcard img { 
    border-radius: 50px;
    width: 50px;
    height: 50px;
} */

.review-product-block {
    max-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px #eef2f5;
}

/* .review-product-image-wrap { 
    display: inline-block;
} */

.review-product-image-wrap img { 
    width: 65px;
    height: 65px;
    /* text-align: left;
    vertical-align: middle; */
}

.review-product-title-wrap { 
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.review-content-block { 
    font-size: 16px;
    position: relative;
    display: block;
    width: 100%;
    /* padding-left: 3%; */
}